<h1>Página inicial</h1>

{{#each posts}}
<hr>
<h2>{{this.dataValues.title}}</h2>
<small>{{this.dataValues.updatedAt}}</small>
<h5>{{this.dataValues.description}}</h5>
<div class="element" >

    
    {{{this.dataValues.text}}}

</div>
<a href="/ler/{{this.dataValues.id}}">Ler mais...</a>
{{/each}}

