<h1>Lista de notícias</h1>
<a href="/add">Nova notícia</a>

<form method="get" action="/listaSearch">
    <input type="text" name="search" placeholder="Informe sua pesquisa">
    <input type="submit" value="Pesquisar">
</form>

{{#each posts}}
	<hr>
	<h2>{{this.dataValues.title}}</h2>
	<img src="{{this.dataValues.imgUrl}}">
	<small>{{this.dataValues.updatedAt}}</small>
	<h5>{{this.dataValues.description}}</h5>
	<div id="element">
	    {{{this.dataValues.text}}}
	</div>
	<a href="/ler/{{this.dataValues.id}}">Ler mais...</a>
	<a href="/edit/{{this.dataValues.id}}">Editar</a>
	<form method="post" action="/del/{{this.dataValues.id}}">
		<input type="submit" value="Deletar">
	</form>
{{/each}}